body {
 background-color: thistle; font-family: Verdana, Geneva, Tahoma, sans-serif;color: deeppink;
}

/* . viittaa punaiseen classiin*/
.punainen {
    color: greenyellow;
}
/* # viittaa siniseen classiin*/
#sininen{
    color: midnightblue;
}
.musta{
    background-color: black;
}